@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,400;9..144,500;9..144,700&family=Montserrat:wght@400;500&family=Red+Hat+Display:wght@500;700;900&display=swap');


body {
    background: #dfe8ff;
    margin: 0;
    padding: 0;
    background-image: url("./images/pattern-background-mobile.svg");
    background-repeat: no-repeat;
    font-family: 'Red Hat Display', sans-serif;
    
}


.card {
    margin: 20px auto;
    max-width: 330px;
    width: 100%;
    height: 34rem;
    background-color: #fff;
    border-radius: 12px;
    
}

.card-right-content {
    width: 90%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
}


.card-left-img {
    width: 100%;
    height: 150px;
    border-radius: 12px 12px 0 0 ;
}

.card-right-title {
    font-size: 13px;
    font-weight: 900;


}

.card-right-description {
    font-size: 15px;
    font-weight: 500;
    color: #7f8196;
    text-align: center;
}

.card-right-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    width: 300px;
    background-color: #f8f9fe;
    margin-bottom: 20px;
    border-radius: 12px;


    img {
        margin-left: 10px;
    }
}

.card-right-price-mid {
    display: flex;
    flex-direction: column;
    height: 70px;
    width: 150px;
    


  p {
    color: #989eaf;
  }


}

.text-price {
    color: black;
}

.card-right-price-change {
    font-size: 14px;
    margin-right: 10px;
    text-decoration: underline;
    color: #3c358f;
    font-weight: 700;
    cursor: pointer;
    transition: all 600ms;
    
}

.card-right-price-change:hover {
   text-decoration: none;
   color: #a59ee9;
    
}

.card-right-button {
    display: flex;
    flex-direction: column;

    button {
        width: 300px;
        height: 50px;
        margin-bottom: 15px;
        font-weight: 900;
        border-radius: 12px;
        border: none;
    }
}


.card-button-blue {
    background: #382ae1;
    color: #fff;
    box-shadow: 23px 39px 27px -3px rgba(56,42,255,0.1);
        transition: all 600ms;
}


.card-button-blue:hover {
    background: #a59ee9;
}
.card-button-white {
    background: transparent;
    color: #7d839c;
}

.card-button-white:hover {
    color: #343d61;
}


@media only screen and (min-width: 375px ) {
    body {
        background-image: url("./images/pattern-background-desktop.svg");
        display: flex;
        height: 100vh;
        justify-content: center;
        align-items: center;
    }

    .card {
        max-width: 450px;
        width: 100%;
        height: 40rem;
        
        
    }

    .card-right-price {
      
        width: 400px;
    
    
     
    }

    .card-left-img {
        height: 200px;
    }

    .card-right-title {
        margin-top: 30px;
    }

 
    .card-right-description {
        text-align: center;
        letter-spacing: 1px;
        width: 300px;
        line-height: 20px;
    }   


    .card-right-button {
        button {
            width: 350px;
        }
    }

    .card-right-price {
        height: 90px;

    }

    .card-right-price {
        width: 350px;
    }
    
}